@model ChangePasswordModel
@using System.Globalization
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

<title>@ViewBag.Title</title>
<h1>Change Password</h1>
<div id="alert" class="alert alert-info" role="alert" style="display:none;">
   Information Change
</div>

<div style="display:none;" id="load">
    Please Waiting
    @*<img src="/content/img/loader.gif" style="width:100px;height:100px;" />*@
</div>
<form
    data-ajax-complete="show_Message" 
    data-ajax-loading="#load" data-ajax="true" asp-controller="User" asp-action="ChangePassword" method="post">
    <div class="form-group">
        <label asp-for="CurrentPassword"></label>
        <input asp-for="CurrentPassword" class="form-control"/>
        <span asp-validation-for="CurrentPassword"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" class="form-control"/>
        <span asp-validation-for="NewPassword"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmNewPassword"></label>
        <input asp-for="ConfirmNewPassword" class="form-control"/>
        <span asp-validation-for="ConfirmNewPassword"></span>
    </div>
    <input type="submit" value="Change" class="btn btn-primary"/>
</form>
<script>
    function show_Message() {
        document.getElementById("alert").style.display = "block";  
    }
</script>
