@model RoleCreateModel

<title>@ViewBag.Title</title>

<div id="alert" class="alert alert-info" role="alert" style="display:none;">
   Information Change
</div>

<div style="display:none;" id="load">
    Please Waiting
    @*<img src="/content/img/loader.gif" style="width:100px;height:100px;" />*@
</div>
<form
      data-ajax-complete="show_Message" 
    data-ajax-loading="#load" data-ajax="true"
      asp-controller="Role" asp-action="Add" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>


    <label> Role Name</label>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text"  asp-for="Name" class=" form-control"/>
        <span asp-validation-for="Name"></span>
    </div>
    <input type="submit" class="btn btn-primary" value="Add" />
</form>
<script>
    function show_Message() {
        document.getElementById("alert").style.display = "block";
    }
</script>